<!-- START NAV -->
<nav class="navbar is-white">
    <div class="container">
     <div class="navbar-brand">
      <a class="navbar-item brand-text" href="/"><img src="../static/images/IBM_logo.png" alt="IBM"></a>
      <div class="navbar-burger burger" data-target="navMenu">
       <span></span>
       <span></span>
       <span></span>
      </div>
     </div>
	  <marquee style="color:rgb(255,0,0);font-style:oblique;margin-top:12px;" behavior="scroll" direction="left">It does not matter how slowly you go as long as you do not stop</marquee>
     <div id="navMenu" class="navbar-menu">
     </div>
    </div>
   </nav>
    <!-- END NAV -->
<style type="text/css">

.mobileShow {display: none;}

  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 770px){ 
      .mobileShow {
        display:list-item;
        padding-left: 10px;
        font-weight: 500;
      }
      a{
        color: black;
      }
  }
</style>

